@import 'http://fonts.googleapis.com/css?family=Anton&v1';
@import 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular,bold&v1';
@import 'http://fonts.googleapis.com/css?family=VT323&v1';

/* **** LAYOUT **** */
body {
    margin:0;
    padding:0;
}
#main { margin-top: 2.5em; }

.content {
    max-width:50em;
    margin:0 auto 0;
    padding: 0 .5em;}

header {
    color: #f5f5f5;
    background: #1a1a1a url("/site_media/style/line.png") repeat-x top left;
    margin: 0 0 0 0;
    padding:1em 0;}
    header:after { clear:both; content: "."; height:0; visibility:hidden; display:block;}

header h1 {
    margin:0;
    padding:0;
    display:inline;
    font-size: 2em;    /* 32px */
    line-height:1.25em /* 40px */}
    header h1 a {
	color: #f5f5f5;
	text-decoration: none;}

header navigation {
    float:right;
    list-style-type:none;
    width:198px;
    padding:0;}
header navigation a { display:block; float:left; margin:0 10px; height:32px; background-position: center; background-repeat:no-repeat; }
header navigation a span { display:none; }
#nav_schedule { background-image: url("/site_media/style/ic_schedule_24.png"); width: 24px; }
#nav_manifesto { background-image: url("/site_media/style/ic_manifesto_24.png"); width: 36px; }
#nav_map { background-image: url("/site_media/style/ic_map_24.png"); width: 32px; }
#nav_notifications { background-image: url("/site_media/style/ic_notification_24.png"); width: 26px; }
header img {
    height: 40px;
    vertical-align: top;
}


.people li a .name { font-weight: bold; }
.people li a .location { color:gray; font-style: italic; }
.people li a:hover { background: #f8f8f8 url("/site_media/style/list_link_right.png") right center no-repeat;}
.people li a:after {
    clear:both;
    content: ".";
    height:0;
    visibility:hidden;
    display:block;}
.people img {
    height: 2.5em;
    float:left;
    margin: 0 .75em; }





/* **** Main menu **** */
#main-navigation a { background-repeat: no-repeat;
		     padding-left: 60px;}
#index_schedule { background-image: url("ic_schedule_black.png");
	    background-position: 13px center;
	    padding-left: 50px;
}
#index_profile { background-image: url("ic_profile_black.png");
	    background-position: 14px center;
	    padding-left: 50px;
}
#index_manifesto { background-image: url("ic_manifesto_black.png");
	    background-position: 7px center;}
#index_map { background-image: url("ic_map_black.png");
	    background-position: 9px center;
	    padding-left: 50px;
}
#index_restaurant { background-image: url("ic_restaurant_black.png");
	    background-position: 8.5px center;
	    padding-left: 50px;
}
#index_notifications { background-image: url("ic_notifications_black.png");
	    background-position: 12px center;
	    padding-left: 50px;
}
#index_staff { background-image: url("ic_staff_black.png");
	    background-position: 1.5px center;
	    padding-left: 50px;
}
#main-navigation a:hover { background-color: #f8f8f8;}
#main-navigation a:hover:after { float:right; content: "»"; margin-right:5px;}


/* **** TYPOGRAPHY **** */

/** body typography
 * Defines the base font-size and line height (grid)
 */
body { 
       font-size: 16px;
       line-height:1.25em; /* 20px */ }

.content {
    /* Uncomment to display the typographic grid
    background-image: url("tgrid.png");
    background-position: left 16px;
    /**/
}

/** RESET **/
h1, h2, h3, h4, h5 {
    margin:0;}

/** Default margin-bottom
 *
 * in order to respect the typographic grid, all negative space between 
 * element has to be a multiple of the line height.
 * Default is 1 line spacing.
 **/
ul, p, .subtitle {
    display: block;
    margin-bottom: 1.25em;    
}

ul { margin: 1.25em 0; }


h1 { font-family: Arial, Sans-serif; }

h2 { font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
     font-size: 2.5em; /* 40px */
     line-height:1em;  /* 40px */
}

h3 { border-bottom: thin black solid;
     font-size: 1.25em;
     line-height:1em;
     margin-top:-1px;
     margin-bottom: 1em;
}

h4.time {
    font-family: 'Yanone Kaffeesatz', helvetica, arial, Sans-serif;
    font-size: 1.5em;
    line-heigth: 
    font-weight: bold;
    color: #aaaaaa;
}

ul.sessions {
    margin-left: 0;
padding:0;}


.subtitle {
    font-weight:lighter; 
    font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
}

.user-profile dt { color: Gray;
		   font-weight: bold; }
.user-profile dt:after { content: ':' }

.user-profile dd { margin:0 0 1.25em 0;}

.user-profile .user-picture { text-align:center; }
.user-profile .user-picture img { height: 12.5em; margin:1.25em; }

/* *** List view ***  */
/* ... */
/* Either a navigation of an ul element */
.listview { list-style-type: none;
	    margin: 29px 0 30px 0; padding: 0;}
.listview li { list-style-type:none; display:inline;
	       margin:0; padding:0;}
.listview a { display:block;
	      margin: -1px 0 0;
	      padding-top:10px;
	      padding-bottom:9px;
	      border-top: thin #ececec solid;
	      border-bottom: thin #ececec solid;
	      color: inherit;
	      text-decoration:none;}


/* ADAPTATION */
@media screen and (min-width: 500px) {
    .user-profile .user-picture img { height: 12.5em; margin:1.25em; float:right; }

    .listview:after {
	clear:both;
	content: ".";
	height:0;
	visibility:hidden;
	display:block;}

    /* We use li here to be the floating element
     * because a may have padding and you should't give 
     * Width and padding to the same element */
    .listview li { 
	width: 45%; float: left;
	margin-right: 5%;}

}

@media screen and (min-width: 750px) {

    /* We use li here to be the floating element
     * because a may have padding and you should't give 
     * Width and padding to the same element */
    .listview li { 
	width: 30%; float: left;
	margin-right: 3%;}

}



/* NOTIFICATIONS */

ul.notifications {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul.notifications li .date {
    color: gray;
}

