{% extends "base.djhtml" %}
{% load url from future %}
{% block head-title %}Welcome to My Conf{% endblock %}

{% block content %}
<h2>About FSCONS</h2>
<span class="subtitle">Free Society Conference and Nordic Summit</span>

<p>FSCONS exists to provide a meeting place where subjects covering society, culture and technology can be discussed and brought to life in peer discussions, without being confined to each particular subject area. It should provide both the physical and virtual space where people, organisations and governments, with interest in the three subject areas can meet in a participatory and constructive dialogue. The unique combination of topics creates a platform where cross-pollination between the areas can occur, and where new co-operations and thoughts can emerge which allows the participants to find new inspiration even from areas outside of their own.

<p>FSCONS is arranged by <a href="http://ffkp.se">ffkp</a> in cooperation with several partner organisers.

{% endblock %}
