{% extends "base.djhtml" %}
{% load url from future %}
{% block head-title %}Welcome to My Conf{% endblock %}

{% block content %}
<h2>Contact us</h2>
<span class="subtitle">Free Society Conference and Nordic Summit</span>

<p>For questions related to the conference or program, contact info[ at ]fscons.org

<p>For questions related to your payment or registration, contact payments[ at ]ffkp.se

<p>You may also want to follow us on <a href="http://identi.ca/fscons">identi.ca</a> (preferred) or <a href="http://twitter.com/fscons">twitter</a> (replicates identi.ca) and please check our <a href="http://blog.fscons.org/">blog</a> for updates and announcements.

{% endblock %}
